<!DOCTYPE html>
<html>
<head>
  <title>Edison</title>
  <%= stylesheet_link_tag    "edison/application", media: "all" %>
  <%= javascript_include_tag "edison/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
